body {
  margin: 0;
  color: red;
  background-color: red; }

nav {
  height: 7em; }

.navbar-toggle {
  height: 5em;
  width: 5em; }

.icon-bar {
  width: 3.3em !important; }

.spacing {
  padding: .4em; }

#bs-example-navbar-collapse-1 {
  height: 15em;
  background-color: white; }

@media only screen and (max-width: 1000px) {
  body {
    background-color: lightblue; }
  nav {
    height: 10em; }
  #logo {
    height: 5em; }
  .navbar-toggle {
    height: 7em;
    width: 7em; }
  .icon-bar {
    width: 5em !important; } }

.navlink {
  height: 6em; }
