@charset "UTF-8";
body {
  margin: 0;
  background-color: white; }

#logo {
  margin-left: 1em; }

nav {
  height: 7em;
  position: static;
  z-index: 1000; }

.navbar-toggle {
  margin-top: 2em;
  margin-right: 2em;
  height: 3em;
  width: 3em; }

.icon-bar {
  width: 1.4em !important; }

.spacing {
  padding: .2em; }

#bs-example-navbar-collapse-1 {
  height: 15em;
  margin-top: .5em; }

.navlink {
  height: 6em; }

.navbar-item {
  width: 8em;
  margin-left: 1.5em;
  margin-top: 1.2em;
  margin-right: 1em;
  border-radius: .2em;
  font-size: 1em;
  text-align: center; }

a:hover {
  color: #00A6DE !important; }

#nav-container {
  border: none; }

@media (max-width: 990px) {
  .navbar-header {
    float: none; }
  .navbar-left, .navbar-right {
    float: none !important; }
  .navbar-toggle {
    display: block; }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px; }
  .navbar-collapse.collapse {
    display: none !important; }
  .navbar-nav {
    float: none !important;
    margin-top: 7.5px; }
  .navbar-nav > li {
    float: none; }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px; }
  .collapse.in {
    display: block !important;
    height: 25em !important; }
  #bs-example-navbar-collapse-1 {
    height: 15em;
    background-color: white;
    margin-top: .5em;
    z-index: 30 !important; } }

#main-section {
  z-index: -30;
  margin: .8em; }

#main-body {
  border: 1px solid #e7e7e7;
  border-radius: .3em;
  height: auto; }
  #main-body h1 {
    color: #00A6DE; }
  #main-body h3 {
    padding-left: 1em;
    margin-top: -.5em; }

.subnav-header {
  background-color: #e7e7e7;
  padding-top: .5em;
  padding-bottom: .5em;
  padding-left: .9em;
  border-radius: .4em;
  margin-left: -3em; }

.subnav-link {
  list-style: none;
  padding: 0;
  margin: 0; }

.subnav-link {
  margin-left: -1.5em;
  text-indent: -.7em; }

.subnav-link::before {
  content: "• ";
  color: #00A6DE; }

.img-container {
  height: 10em;
  margin-top: 4em;
  margin-bottom: 1em;
  max-height: 100%;
  overflow: hidden;
  vertical-align: middle;
  border: 0.1em solid #00A6DE;
  transition: .5s ease;
  backface-visibility: hidden;
  z-index: 10000; }

a.plain-link:link {
  color: #777;
  text-decoration: none; }

a.plain-link:active {
  color: #777;
  text-decoration: none; }

a.plain-link:visited {
  color: #777;
  text-decoration: none; }

.img-container:hover {
  opacity: 0.3; }
