body {
  margin: 0;
  color: red;
  background-color: red; }

nav {
  height: 7em; }

@media only screen and (min-device-width: 300px) and (max-device-width: 500px) {
  body {
    background-color: lightblue; }
  nav {
    height: 10em; }
  #logo {
    height: 5em; } }

.navlink {
  height: 6em; }
